*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    font-family: 'outfit';
    background: linear-gradient(#808080,#000000);
}
.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #000000;
    font-size: 40px;
    margin: 5px;
}
.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background: #00ffff;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #808080;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #000000; 
}
.contact-inputs::placeholder{
    color: #000000;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #00ffff, #0094ff);
    cursor:pointer;

